{% extends 'dashboard.html' %}
{% block dashboardcontent %}

<div class="container mt-5">
    <ul class="list-group">
        {% for bulk in BulkKeyword  %}
        <li class="list-group-item p-3 border-left">
            {{bulk.name}},  <span class="ms-3 border rounded p-1 bg-light"> Status : {{bulk.status}}</span> <span class="ms-2 border rounded p-1 bg-light"> {{bulk.error}} </span>   
        </li>
        {% endfor %}
        {% for Single in SingleKeyword  %}
        <li class="list-group-item p-3">
            {{Single.name}},  <span class="ms-3 border rounded p-1 bg-light"> Status : {{Single.status}} </span>  <span class="ms-2 border rounded p-1 bg-light"> {{Single.error}} </span>  
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock dashboardcontent %}