{% extends 'dashboard.html' %}
{% block dashboardcontent %}
{% load static %}
<script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>


<div class="container mt-5">
 
    <h2> Keyword: {{single_post.name}} </h2>

    <div class="border p-2 mt-3 mb-2">Post Status: {{single_post.status}}</div>
    <div class="border p-2 mt-3 mb-3">Post Status: {{single_post.error}}</div>
    <textarea name="content" id="id_content">{{ single_post.content }}</textarea>
    <script>
        // Initialize the CKEditor instance
        CKEDITOR.replace('id_content');
    </script>

</div>

{% endblock dashboardcontent %}