{% extends 'dashboard.html' %}
{% block dashboardcontent %}

<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="" class="form-label">Keyword</label>
          <input type="text"
            class="form-control" name="keyword" id="">
        </div>
        <label for="" class="form-label">Outline</label>
        <div class="form-floating">
            <textarea name="outline" class="form-control" id="floatingTextarea2" style="height: 300px"></textarea>
        </div>
        <select name="website_id" class="form-select mt-3" aria-label="Default select example">
            <option selected>Select Website</option>
            {% for single_website in website  %}
            <option value="{{single_website.id}}">{{single_website.website_name}}</option>
            {% endfor %}
        </select>

        <select name="openaiapi_id" class="form-select mt-3" aria-label="Default select example">
            <option selected>Select OpenAI API</option>
            {% for single_openaiapi in openaiapi  %}
            <option value="{{single_openaiapi.id}}">{{single_openaiapi.name}}</option>
            {% endfor %}
        </select>

        <select name="youtubeapi_id" class="form-select mt-3" aria-label="Default select example">
            <option selected>Select Youtube API</option>
            {% for single_youtubeapi in youtubeapi  %}
            <option value="{{single_youtubeapi.id}}">{{single_youtubeapi.name}}</option>
            {% endfor %}
        </select>

        <div class="input-group mt-3">
            <input name="category" type="text" class="form-control" placeholder="Category Name" aria-label="Recipient's username" aria-describedby="basic-addon2">
        </div>

        <select name="status" class="form-select mt-3" aria-label="Default select example">
            <option selected>Post Status</option>
            <option value="publish">Publish</option>
            <option value="draft">Draft</option>
        </select>

        <button type="submit" class="btn btn-success mt-5">Make Post</button>
    
    </form>
</div>

<div class="container mt-5">
    <ul class="list-group">
        {% for keyword in keyword_pending  %}
        <li class="list-group-item">
            {{keyword.name}} <span style="border-bottom:2px solid red;">Status</span> : {{keyword.status}}    
            <span class="border rounded ms-2 p-1 bg-warning">{{keyword.error}}</span> 
            <a class="btn btn-danger ms-3 m-1" href="{% url 'delete_pending_single_post' keyword.id %}">Cancel</a>  
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock dashboardcontent %}